<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.b3dgs.tyrian"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="25" />
    <application android:largeHeap="true" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher" android:label="Tyrian Remake" android:logo="@raw/loading">
        <activity android:name="AppTyrianAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
